/* banner related styles */

/* html,
body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
} */

.banner-subheading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.banner-wrapper {
    width: 1320px;
    height: 600px;
    margin: 50px auto auto auto;
    background: url('/resources/Banner-Image.png');
    background-size: cover;
}

.banner {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}